body {
    background-image: url("bg.jpg");

}
p, h1 {
    color: white;
    text-align: center;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sports {
    background-image: url("raps.gif");
}
